main {
    margin: 10rem 15rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h1 {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.5rem;
}

#scan-text {
    margin-top: 2rem;
    background-color: #b30000;
    border-radius: 0.5rem;
    text-align: center;
}

main img {
    width: 20rem;
    margin: 1.5rem 0 0 21rem;
}

#greeting {
    font-size: 2rem;
    text-decoration: underline wavy grey 2px;
    font-weight: 700;
}

/* footer {
    position: absolute;
    width: 100%;
    bottom: 0.1%;
} */