* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;  
}

nav {
    color: white;
    background-color: #fff;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav a {
    text-decoration: none;
}
.logo {
    color: #ae0e28;
    font-size: 2.2rem;
    text-decoration: solid white 2px;
    transition: 300ms;
    font-weight: 650;
}
.logo:hover{
    font-size: 2.3rem;
    transition: 300ms;
}
#nav-p1 {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
#nav-p1 img {
    margin-right: 1rem;
    height: 4rem;
}
#nav-p2 a {
    margin: 0 2rem;
    font-size: 1.3rem;
    color: #B3003F;
    transition: 500ms;
    font-weight: 500;
}
#nav-p2 a:hover {
    /* font-size: 1.6rem; */
    text-decoration: underline solid #B3003F 2px;
}
#nav-p3 {
    margin-right: 6rem;
    border: none;
    border-radius: 5rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #B3003F;
    transition: 300ms;
    cursor: pointer;
}
#nav-p3:hover {
    color: #B3003F;
    background-color: #fff;
    border: 03px solid #B3003F;
}


#main-img{
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.9;
}
#heading {
    position: relative;
    margin-bottom: 23rem;
    margin-top: 2.5rem;
}
.heading-text {
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}
.heading-text p{
    margin-bottom: 3rem;
    font-style: italic;
    text-decoration: underline dashed #DFACA7 2px;
    font-size: 3rem;
}
.heading-text button{
    margin-top: 2rem;
    font-size: 1.4rem;
    padding: 0.4rem 1.2rem;
    border: none;
    border-radius: 3rem;
    background-color: #B3003F;
    color: #fff;
    transition: 300ms;
    cursor: pointer;
}
.heading-text button:hover {
    color: #B3003F;
    background-color: #DFACA7;
}


#info-card {
    background-color: #fff;
    height: 20rem;
    width: 80%;
    display: flex;
    margin: 0 10rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 90%;
    margin: 0 9rem;
}
.info-cards {
    display: grid;
    font-size: 1.5rem;
    padding: 3rem;
}

.iocn_box_bg {
    height: 6rem;
    grid-column: 1 /span 6;
}
#info-card-1:hover #icon1{
    height: 4rem;
}
#info-card-2:hover #icon2{
    height: 3.5rem;
}
.info-cards:hover #icon3{
    height: 3.5rem;
}

.info-cards-heading {
    text-align: center;
    grid-column: 7 /span 6;
    position: absolute;
    top: 20%;
    margin-left: 8rem;
    /* left: 10%; */
}
.info-cards-text {
    grid-column: 1 /span 12;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    line-height: 2rem;
}


.icons {
    position: absolute;
    height: 3rem;
    margin-top: 0.3rem;
    margin-left: 1.3rem;
    top: 4rem;
    transition-duration: 400ms;
}
/* .icons:hover {
    height: 3.5rem;
} */
#icon1{
    margin-top: 0.5rem;
    height: 3.5rem;
}





#info_1 {
    margin: 0 8rem;
    display: grid;
}
#info_1 img {
    grid-column: 1 /span 6;
    border-radius: 0.5rem;
}
.info_1-texts {
    grid-column: 7 /span 6;
    margin-left: 7rem;
}
#info_1-heading {
    font-size: 3.0rem;
    color: #B3003F;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
#info_1-text {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
}
#info_1-points {
    font-size: 1.1rem;
    line-height: 3rem;
    list-style-type: none;
}

.bulletPoint {
    height: 1.5rem;
    margin-right: 0.5rem;
    
}

#no-of-donors {
    height: 8rem;
    width: 70%;
    margin-top: 3.5rem;
    background-color: #06070A;
    border-radius: 0.5rem;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}
#no-of-donors b {
    font-size: 4rem;
}
#no-of-donors p {
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.7;
}




/* 4 Sept */
/* #Donation-types {
    margin: 6rem 8rem 0 8rem;
}
#DT-heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.donation-cards {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.donation-card {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 23.1rem;
    height: 30rem;
    border-radius: 30px;

} */

#signUp-card {
    margin: 5rem  0 0 20rem;
    background-color: #ae0e28;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem 0 0 15rem;
    padding: 1rem;
}
#signUp-card-text {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

#signUp-card-subtext1 {
    color: black;
}
#signUp-card-subtext2 {
    margin-left: 4rem;
}
#signUp-card button {
    font-size: 1.5rem;
    width: 7rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: 300ms;
}
#signUp-card button:hover {
    border: 2px solid white;
    background-color: black;
    color: #fff;
}




/* footer img {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.1;
} */

/* #footer {
    height: 25rem;
    background-image: url(./imgs/img5.jpg);
    display: flex;
}
.footer-content {
    font-size: 1.5rem;
    background-color: #06070aca;
    color: #ffffffa9;
} */

footer {
    background-color: #06070A;
    color: #ffffffce;
    padding: 1rem;
    text-align: center;
}