#main-img {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.9;
}
#heading {
    position: relative;
    margin-bottom: 23rem;
    margin-top: 2.5rem;
}
.heading-text {
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}
.heading-text p{
    margin-bottom: 3rem;
    font-style: italic;
    text-decoration: underline dashed #DFACA7 2px;
    font-size: 3rem;
}
.heading-text button {
    margin-top: 2rem;
    font-size: 1.4rem;
    padding: 0.4rem 1.2rem;
    border: none;
    border-radius: 3rem;
    background-color: #B3003F;
    color: #fff;
    transition: 300ms;
    cursor: pointer;
}
.heading-text button:hover {
    color: #B3003F;
    background-color: #DFACA7;
}

/* Sign In Form */
.signIn_Form_section {
    position: fixed;
    top: 50%;
    left: 50%;
    visibility: hidden;
    width: 30rem;
    transform: translate(-50%, -50%) scale(1.25);
    padding: 2rem 3rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 100rem rgba(0, 0, 0,0.6);
    border-radius: 2rem;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    z-index: 2;
}
.activeSignIn {
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    visibility: visible;
}
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #888;
    color: #eee;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.signIn_Form_section h2 {
    text-align: center;
    color: #B3003F;
    margin: 0.5rem 0 1.5rem;
    font-size: 2.5rem;
}
.signIn_Form {
    font-size: 1.5rem; 
}
.signIn_Form input {
    margin-top: 0.7rem;
    display: block;
    width: 93%;
    padding: 0.8rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}
#signIn_Form_btn {
    width: 99%;
    padding: 0.4rem 0;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}
.signIn_Form a {
    display: block;
    text-align: right;
    color: #1a79ca;
    text-decoration: none;
    margin-right: 0.4rem;
}

/* Sign Up Form */
.signUp_Form_section {
    position: fixed;
    left: 50%;
    visibility: hidden;
    width: 30rem;
    transform: translate(-50%, -50%) scale(1.25);
    padding: 2rem 3rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 100rem rgba(0, 0, 0,0.6);
    border-radius: 2rem;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    z-index: 2;
}
.activeSignUp {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    visibility: visible;
}
.activeSignUp-bottom_button {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    visibility: visible;
}
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #888;
    color: #eee;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.signUp_Form_section h2 {
    text-align: center;
    color: #B3003F;
    margin: 0.5rem 0 1.5rem;
    font-size: 2.5rem;
}
.signUp_Form {
    font-size: 1.5rem;
}
.signUp_Form input:not(.privacyPolicy), select, textarea {
    position: absolute;
    left: 35%;
    padding: 0.6rem;
    border: 1px solid #aaa;
    border-radius: 0.3rem;
    width: 50%;
    border-radius: 0.3rem;
    font-size: 1.1rem;
}
.signUp_Form select {
    width: 54%;
}
.privacyPolicy {
    margin-right: 0.5rem;
}
.align-inputBox {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#signUp_Form_btn, .reset-btn {
    margin-top: 0.8rem;
    width: 20%;
    padding: 0.4rem 0;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.signUp_Form a {
    text-align: right;
    color: #1a79ca;
    text-decoration: none;
    margin-right: 0.4rem;
}
.reset-btn {
    font-size: 1.1rem;
}

#info-card {
    background-color: #fff;
    height: 20rem;
    width: 80%;
    display: flex;
    margin: 0 10rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 90%;
    margin: 0 9rem;
}
.info-cards {
    display: grid;
    font-size: 1.5rem;
    padding: 3rem;
}

.iocn_box_bg {
    height: 6rem;
    grid-column: 1 /span 6;
}
#info-card-1:hover #icon1{
    height: 4rem;
}
#info-card-2:hover #icon2{
    height: 3.5rem;
}
.info-cards:hover #icon3{
    height: 3.5rem;
}
.info-cards-heading {
    text-align: center;
    grid-column: 7 /span 6;
    position: absolute;
    top: 20%;
    margin-left: 8rem;
}
.info-cards-text {
    grid-column: 1 /span 12;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    line-height: 2rem;
}

.icons {
    position: absolute;
    height: 3rem;
    margin-top: 0.3rem;
    margin-left: 1.3rem;
    top: 4rem;
    transition-duration: 400ms;
}
#icon1{
    margin-top: 0.5rem;
    height: 3.5rem;
}



#info_1 {
    margin: 0 8rem;
    display: grid;
}
#info_1 img {
    grid-column: 1 /span 6;
    border-radius: 0.5rem;
}
.info_1-texts {
    grid-column: 7 /span 6;
    margin-left: 7rem;
}
#info_1-heading {
    font-size: 3.0rem;
    color: #B3003F;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
#info_1-text {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
}
#info_1-points {
    font-size: 1.2rem;
    line-height: 2.5rem;
    list-style-type: none;
}
#point1, #point2, #point3 {
    display: flex;
    align-items: center;
}
.bulletPoint {
    height: 1.5rem;
    margin-right: 0.5rem;
    
}

#no-of-donors {
    height: 8rem;
    width: 70%;
    margin-top: 3.5rem;
    background-color: #06070A;
    border-radius: 0.5rem;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}
#no-of-donors b {
    font-size: 4rem;
}
#no-of-donors p {
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.7;
}




/* 4 Sept */
/* #Donation-types {
    margin: 6rem 8rem 0 8rem;
}
#DT-heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.donation-cards {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.donation-card {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 23.1rem;
    height: 30rem;
    border-radius: 30px;

} */



#signUp-card {
    margin: 5rem  0 0 20rem;
    background-color: #ae0e28;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem 0 0 15rem;
    padding: 1rem;
}
#signUp-card-text {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

#signUp-card-subtext1 {
    color: black;
}
#signUp-card-subtext2 {
    margin-left: 4rem;
}
#signUp-btn {
    font-size: 1.5rem;
    width: 7rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: 300ms;
}
#signUp-btn:hover {
    border: 2px solid white;
    background-color: black;
    color: #fff;
    cursor: pointer;
}