* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;  
}

nav {
    background-color: #fff;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav a {
    text-decoration: none;
}
.logo {
    color: #ae0e28;
    font-size: 2.2rem;
    text-decoration: solid white 2px;
    transition: 300ms;
    font-weight: 650;
    width: 12rem;
}
.logo:hover{
    font-size: 2.3rem;
    transition: 450ms;
}
#nav-p1 {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
#nav-p1 img {
    margin-right: 1rem;
    height: 4rem;
}
#nav-p2 a {
    margin: 0 2rem;
    font-size: 1.5rem;
    color: #B3003F;
    transition: 500ms;
    font-weight: 500;
}
#nav-p2 a:hover {
    text-decoration: underline solid #B3003F 2px;
}
#nav-p3 {
    margin-right: 6rem;
    border: none;
    border-radius: 5rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #B3003F;
    transition: 300ms;
    cursor: pointer;
    border: 03px solid #B3003F;

}
#nav-p3:hover {
    color: #B3003F;
    background-color: #fff;
}





/* -----------------footer---------------- */
footer {
    background-color: #06070A;
    color: #ffffffce;
    padding: 1rem;
    text-align: center;
}